.menu-header {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.menu-header .white {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey3);
}

.menu-header .white .back-icon {
  background-color: var(--white);
}

.menu-header .off-white {
  background-color: var(--off-white);
  border-bottom: 1px solid var(--grey3);
}

.menu-header .off-white .back-icon {
  background-color: var(--off-white);
}

.menu-header .invisible {
  background-color: var(--white);
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-header .front-icon,
.menu-header .back-icon {
  display: flex;
}

.menu-header .empty-container {
  width: 32px;
  height: 32px;
}

.menu-header .title {
  font-size: 20px;
}
