.item-container {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid var(--grey3);
}

.item-container:last-child {
  border-bottom: none;
}

.item-container .content-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-left: 20px;
}

.item-container .content-top {
  display: flex;
  width: 100%;
  line-height: 28px;
  justify-content: space-between;
}

.item-container .content-down {
  display: flex;
  width: 100%;
  margin-top: 12px;
  justify-content: flex-end;
}

.item-container .content-down .icon {
  width: 20px;
  margin-left: 10px;
}

.item-container .title {
  font-size: 20px;
}

.item-container .loc-time {
  color: var(--grey1);
}

.item-container .price {
  color: inherit;
}
