.chat-badge {
  background-color: var(--primary3);
  color: var(--white);
  font-size: 18px;
  text-align: center;
  margin-left: 12px;
  border-radius: 999px;
  height: 28px;
  padding: 0 9px;
}

.chat-badge.count {
  max-width: fit-content;
}
