.category-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 160px;
}

.category-list-item .title {
  margin-top: 12px;
}
