.FAB-btn {
  background-color: var(--primary);
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.FAB-btn:hover {
  background-color: var(--primary3);
}

.FAB-btn:focus {
  border: 2px solid var(--primary2);
}

.FAB-btn:disabled {
  background-color: var(--primary2);
}
