.button-large {
    width: 350px;
    height: 50px;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--primary);
    text-align: center;
    font-size: 22px;
    color: var(--white);
}

.button-large:hover {
    background-color: var(--primary3);
}

.button-large:focus {
    border: 2px solid var(--primary2);
}

.button-large:disabled {
    background-color: var(--primary2);
}
