.button-location {
    display: flex;
    width: 150px;
    height: 48px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid var(--primary);
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: var(--primary3);
}

.button-location:active {
    background-color: var(--primary);
    color: var(--white);
}

