.button-status {
  width: 100px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  border: 1px solid #e0e0e0;
}

.status-image {
  width: 14px;
  height: 14px;
}
