.button-tap {
    width: 96px;
    height: 40px;
    padding: 0px 0px 18px 0px;
    text-align: center;
    font-size: 16px;
    background-color: var(--white);
    color: var(--grey1);
}

.button-tap:active{
    color: var(--primary);
    height: 38px;
    border-bottom: 2px solid var(--primary);
}
