.menu {
  overflow: hidden;
  z-index: 2;
  background-color: var(--white);
}

.menu .menu-header {
  border-bottom: none;
}

.menu .slide {
  min-width: 435px;
  display: flex;
}

.menu .page {
  min-width: 435px;
}
