.menu {
  overflow: hidden;
  z-index: 2;
  background-color: var(--white);
}

.menu .menu-header {
  border-bottom: none;
}

.menu .product-list {
  height: calc(90vh - 56px);
  overflow: auto;
}

.menu .slide {
  display: flex;
}

.menu .page {
  min-width: 435px;
}
