.medium-input,
.large-input {
  width: 280px;
  height: 40px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--grey3);
  color: var(--title-active);
  font-size: 16px;
}

.large-input {
  width: 320px;
  height: 44px;
  font-size: 16px;
}

.medium-input:active,
.medium-input:focus,
.large-input:active,
.large-input:focus {
  border: 1px solid var(--primary);
  outline: none;
}
