.img-box {
  display: block;
  border: 1px solid var(--grey3);
  background-color: var(--off-white);
}

.img-box.small {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.img-box.medium {
  width: 76px;
  height: 76px;
  border-radius: 8px;
}

.img-box.large {
  width: 120px;
  height: 120px;
  border-radius: 12px;
}

.img-box.gradient {
  object-fit: contain;
  max-width: 435px;
  mix-blend-mode: multiply;
  background-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 16.52%,
    rgba(0, 0, 0, 0) 87.36%,
    rgba(0, 0, 0, 0.24) 100%
  );
}
