.main-page {
  position: relative;
}

.main-page .product-list {
  height: calc(90vh - 58px);
  overflow: auto;
}

.main-page .FAB-container {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 1;
}
