.product-detail {
}

.product-detail .product-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.product-detail .menu-header {
  position: fixed;
  z-index: 2;
}

.product-detail .product-container {
  display: flex;
  overflow-y: scroll;
  height: calc(90vh - 76px);
  flex-direction: column;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.product-detail .product-container::-webkit-scrollbar {
  display: none;
}

.product-detail .text-container {
  margin: 16px;
}

.product-detail .button-status {
  margin-bottom: 16px;
}

.product-detail .title {
  font-size: 20px;
  margin-bottom: 8px;
}

.product-detail .category-time {
  font-size: 14px;
  color: var(--grey1);
  margin-bottom: 12px;
}

.product-detail .content {
  margin-bottom: 16px;
}

.product-detail .etc-info {
  font-size: 14px;
  color: var(--grey1);
  margin-bottom: 12px;
}

.product-detail .info-saler {
  width: 100%;
  margin-top: 32px;
}

.product-detail .wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 435px;
  z-index: 1;
}

.product-detail .slides {
  display: flex;
  position: relative;
  top: 0;
  width: 10000px;
}

.product-detail .slides.shifting {
  transition: left 0.2s ease-out;
}

.product-detail .slide {
  width: 435px;
  height: 435px;
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: -webkit-gradient(
    180deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 16.52%,
    rgba(0, 0, 0, 0) 87.36%,
    rgba(0, 0, 0, 0.24) 100%
  ); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 16.52%,
    rgba(0, 0, 0, 0) 87.36%,
    rgba(0, 0, 0, 0.24) 100%
  ); /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 16.52%,
    rgba(0, 0, 0, 0) 87.36%,
    rgba(0, 0, 0, 0.24) 100%
  ); /* FF3.6+ */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 16.52%,
    rgba(0, 0, 0, 0) 87.36%,
    rgba(0, 0, 0, 0.24) 100%
  ); /* W3C */
}
