.town-area {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding: 24px 16px;
}

.town-area > .label {
  font-size: 16px;
  color: var(--grey3);
}

.town-buttons {
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
